node_modules/
**/node_modules/

dist/
**/dist/

.next/
**/.next/

out/
**/out/

.vercel/
**/.vercel/

coverage/
**/coverage/

.eslintcache
**/.eslintcache

.cache/
**/.cache/

.vscode/
.idea/

.DS_Store
Thumbs.db

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*
**/.env
**/.env.*

.venv/
**/.venv/
__pycache__/
**/__pycache__/
